In [32]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

Reading data

In [33]:
PATH_TRAIN      = 'sample_submission.csv'
PATH_TEST       = 'test.csv'
PATH_SUBMISSION = 'sample_submission.csv'

In [34]:
id_column = 'id'
train_data = pd.read_csv(PATH_TRAIN)
test_data = pd.read_csv(PATH_TEST)
submission = pd.read_csv(PATH_SUBMISSION)

In [35]:
print(len(train_data))
train_data.head()

4277

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False

In [36]:
print(len(test_data))
test_data.head()

4277

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [37]:
print(len(submission))
submission.head()

4277

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False

Empty DataFrame
Columns: [PassengerId, Transported]
Index: []

Collect garbage to reduce memory usage and Accelerate Scikit-learn with Intel® Extension for Scikit-learn

In [56]:
import gc

gc.collect()

1039

In [57]:
from sklearnex import patch_sklearn

patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

Data Analysis